.venv/
venv/
.env
__pycache__/
.ipynb_checkpoints/
.python-version

# Dataset Roboflow (imagens + labels; baixar localmente)
dataset/

# Treino / pesos
runs/
*.pt
*.onnx
*.engine
wandb/

# Sistema
Thumbs.db
Desktop.ini
.DS_Store
